body{
    margin: 0px;
    padding: 0px;
    background: url('image/bg2.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:inherit;
    
    color: white;
    overflow: block;

   
}

.left{
 
    display: inline-block;
   
    position: absolute;
    left: 32px;
    top: 17px;

}

.mid{
  
  
  
  width: 38%;
  margin: 1rem auto;
 

 
  

}

.right{
  position: absolute;
  right: 2.2rem;
  top: 3.1rem;
 


}
.navbar{
    display: inline-block;
    position: absolute;
}

.navbar li{
    display: inline-block;
    font-size: 1.5rem;
    
}
.navbar li a {
    color: white;
    text-decoration:none;
    padding: 0.2rem 2.5rem;
}
.navbar li a:hover,   .navbar li a.active {
    text-decoration: underline;
    color: yellowgreen;
}
.left img{
    
    width: 80px;

}
.left div{
    
    line-height: 2rem;
    font-size: 1rem;
    text-align: center
    
}
.btn{
  
    font-family: 'baloo Bhai';
    margin: 0rem 0.9rem;
    background-color: black;
    color:white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 14px;
}
.container{
   
    
    margin-right: 10rem;
    width: 14rem;
    border-radius: 2.5rem;
    
    
    position: absolute;
  right: -8rem;
  top: 10.1rem;
  padding-left: 1rem;
 
    
   
}
.form-group input{
    text-align: center;
    display: block;
    width: 12.1rem;
    padding: .2rem .2rem;
    border: 0.2rem solid yellow;
    margin: 1rem;
   
    background-size: cover;
    

    
}



.container h2{
    text-align: center;
}

.ss{
   text-align: center;
   font-size: 1rem;
   margin: 1.3rem;
   border: 0.2rem solid yellow;
   background-color: white;
   color: black;
   padding: 5px;
   width: 12.1rem;
   margin-left: 1rem;

} 




.leftt {
width: 33%;
height: 100%;
float:left;
background:red;
color: white;
text-align: center;
letter-spacing: 0.4rem;
}
.leftt p{
color: white;
text-align: center;
}
.rightt{
width: 33%;
height: 100%;
float:left;
background:green;
color: white;
text-align: center;
letter-spacing: 0.4rem;
}
.middle{
width:34%;
height: 100%;
float:left;
background:rgb(57, 70, 190);
text-align: center;
letter-spacing: 0.4rem;

}
.rightt p{
color: white;
text-align: center;
}
.middle p{
color: white;
text-align: center;
}
.box1{
    display: inline-block;
   color:white;
   background-color: thistle;
   width:420px;
   height: 20rem;
   margin: 1rem;
   background: url('image/bg5.jpg');
   background-size: cover;
   border-radius:2rem;
}
.box2{
    display: inline-block;
    color:white;
    background-color: greenyellow;
    width:26rem;
    height: 20rem;
    position:left;
    margin: 1rem;
    background: url('image/bg4.jpg');
    background-size: cover;
    border-radius:2rem;
 }
 .box3{
     display: inline-block;
    color:white;
    background-color: red;
    width:24rem;
    height: 20rem;
    position:left;
    margin: 1rem;
    background: url('image/bg3.jpg');
    background-size: cover;
    border-radius:2rem;
    
 }
 .boxmain{
     
     background-color: rgb(43, 41, 41);
     width: 100%;
    margin-top: 40rem;
 }
 
 .first{
    display: inline-block;
    background: url('image/bg6.png');
    background-size:100px;
     width: 10rem;
     height: 10rem;
     margin-left: 20rem;
     
 }
 
 
 .sec{
    display: inline-block;
     
     background: url('image/bg7.png');
     background-size: contain;
     width: 10rem;
     height: 10rem;
     margin-top:10rem;
     margin-left: 20rem;
  
 }
 .third{
    display: inline-block;
    background: url('image/bg8.png');
    background-size: contain;
     width: 10rem;
     height: 10rem;
     margin-left: 20rem;
    

 }
 .four{
    display: inline-block;
    background: url('image/bg9.png');
    background-size: contain;
     width: 10rem;
     height: 10rem;
     margin-left: 20rem;

 }
 .mainlogo{
     width: 100%;
     height: 30rem;
     background-color: rgb(245, 236, 228);
     
 }
 .first p{
     color: rgb(27, 11, 10);
     padding-top: 9rem;
     font-family:inherit;
     
     
 }
 .sec p{
    color: rgb(27, 11, 10);
    padding-top: 9rem;
    font-family:inherit;
    
}
.third p{
    color: rgb(27, 11, 10);
     padding-top: 9rem;
     font-family:inherit;
     
}
.four p{
    color: rgb(27, 11, 10);
     padding-top: 9rem;
     font-family:inherit;
     font-weight: 200;
     
}
#mew{
    background-color: blueviolet;
    width: 10rem;
    height: 40rem;

}
.text1{
    display: inline-block;
    width: 60rem;
    height:40rem;
    background-color: darkkhaki;
    overflow: hidden;
}
.text2{
    display: inline-block;
    width: 74.5rem;
    height: 40rem;
    background-image: url(image/body1.jpg);
    background-size:cover;
    overflow: hidden;
    
    
    
}




@media (min-width: 1300px){ /*For dektop site*/

        .mid{
           width: 50%;
        }
}

@media (max-width: 1300px){
    .mid{
    width: 70%;

    }

    .navbar li{
        width: 10rem;
    }

    .right{
        top:3rem;
        right: 0rem;
    
       width: 20%;
      
      
    }
    .btn{
        margin: .1rem;
    }

}


@media (max-width: 1000px){ /*for tablet site*/
    .mid{
        width: 60%;
    
        }
    
    .navbar li{
        width: 6rem;
    }
    .btn{
        padding: 0.1rem;
        margin: .1rem;
        width: 4rem;
    }
    .boxmain{
        width: 100%;
    }
    .first{
        
        background: url('image/bg6.png');
        background-size:100px;
         width: 5rem;
         height: 5rem;
         margin-left: 10rem;
         
     }
     .sec{
    
         background: url('image/bg7.png');
         background-size: contain;
         width: 5rem;
         height: 5rem;
         margin-top:5rem;
         margin-left: 5rem;
      
     }
     .third{
        
        background: url('image/bg8.png');
        background-size: contain;
         width: 5rem;
         height: 5rem;
         margin-left: 5rem;
        
    
     }
     .four{
        
        background: url('image/bg9.png');
        background-size: contain;
         width: 5rem;
         height: 5rem;
         margin-left: 5rem;
    
     }

   

}

@media (max-width: 800px){ /*for tablet/e-reader */
    .mid{
        width: 80%;
        font-size: 2rem;
    
        }
        .navbar li{
            width: 6rem;
        }
        .btn{
            padding: 0.1rem;
            margin: .1rem;
            width: 4rem;
        }
    

}

@media (max-width: 600px){ /*for smartphones */
    .mid{
        width: 70%;
    
        }
        .navbar li{
            width: 5rem;
        }
        .btn{
            padding: 0.1rem;
            margin: .1rem;
            width: 4rem;
        }


        .container {
           
            width: 10rem;
            margin-left: 4rem;
            
}

@media (max-width:480px){ /*for smarthohines/portrate/ */


}